*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #ebebeb;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 50px;
}

p{
  font-size: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  background-color: #ffffff;
  position: relative;
  height: 90px;
}
header div{
  
}
footer{
  background-color: #ffffff;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

main{
  margin: 0 auto;
  padding: 30px 20px;
}
.header-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}
#titre{
  flex-basis: 100rem;
}
#titre h1{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to right, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}